*{
  font-family: Helvetica, sans-serif;

}

.header{
  font-size: 25px;
  color: black;
}

.h{
  text-align: center;
}
body{
  font-size: 18px;
}
html{
  scroll-behavior: smooth;
}


.div1{
  background-color: rgb(36, 28, 74);
  color: white;
}
