*{
  font-family: Helvetica, sans-serif;
  background-color: blanchedalmond;
}

html{
  scroll-behavior: smooth;
}

header{
  font-size: 25px;
  color: black;
}

.h{
  text-align: center;
}
h1{
  background-color: purple;
}

body{
  font-size: 18px;
}

.div1{
  background-color: rgb(36, 28, 74);
  color: white;
  padding: 2%;
}

p{
  font-weight: bold;
  color: darkgreen;
}




body {
  background-color: black;
  color: whitesmoke;
}